.heart{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    animation-name: tt ;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    font-size: 10rem;
}
body{
    background-color: pink;
    position: relative;
    animation-name: yy ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
.love{
    color: rgb(119, 0, 255);
    justify-content: center;
    display: flex;
    font-size: 5vh;
    animation-name: ro;
    animation-duration: 10s;
    animation-delay: 2s;
}
@keyframes tt {
    0% {left: 0; top: 0;}
    50% {left: 0px; top:100px;}
    75% {left: 0px; top: -200px;}
    100% {left: 0px; top: 0px;}
}
@keyframes yy {
    0% {background-color: pink;}
    50% {background-color: blueviolet;}
    75% {background-color: red;}
    100% {background-color: pink;}
}
